= form_for(movie) do |f|
  - if movie.errors.any?
    %div#error_explanation
      %h2= pluralize(movie.error.count,"error") + " prohibited this movie from being saved:"
      
      %ul
        - movie.errors.full_messages.each do |message|
          %li= message
   
  %div.form-group
    = f.label :title
    = f.text_field :title
    
  %div.form-group
    = f.label :desc
    = f.text_area :desc
  
  %div.form-group
    = f.label :year
    = f.number_field :year
    
  %div.form-group
    = f.label :time
    = f.number_field :time
    
  %div.form-group
    = f.label :price
    = f.number_field :price
    
  %div.form-group
    = f.label :director_id
    = f.collection_select :director_id, Director.all, :id, :firstname
    
  %div.form-group
    = f.label :cover
    = f.file_field :cover

  = f.submit
