<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= director.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= director.lastname %>
</p>

<p>
  <strong>Year of birth:</strong>
  <%= director.year_of_birth %>
</p>

<%= link_to 'Edit', edit_director_path(director) %> |
<%= link_to 'Back', directors_path %>
