%div.menu
  %ul
    %li.divider User Settings
    -if user_signed_in? 
      %li Hello #{current_user.email}
      %li= link_to 'My Account', edit_user_registration_path
      %li= link_to "Sign out", destroy_user_session_path, :method => :delete
    -else 
      %li= link_to 'Sign in', new_user_session_path
      %li= link_to 'Sign up', new_user_registration_path
    -if user_signed_in?
      %li= link_to "Subscribers", subscribers_path
      %li= link_to "Notifications", notifications_path
    %li.divider Tables
    %li= link_to "Genres", genres_path
    %li= link_to "Directors", directors_path
    - if controller_name == "movies"
      %li.divider Genres
      - genres.each do |g|
        %li= link_to g.name, fetch_movies_path(:genre_ids => g.id), remote: true