%div#navbar
  %div.menu
    %ul
      %li.divider User Settings
      -if user_signed_in? 
        %li Hello #{current_user.email}
        %li= link_to 'My Account', edit_user_registration_path
        %li= link_to "Sign out", destroy_user_session_path, :method => :delete
      -else 
        %li= link_to 'Sign in', new_user_session_path
        %li= link_to 'Sign up', new_user_registration_path
      -if user_signed_in?
        %li= link_to "Subscribers", subscribers_path
        %li= link_to "Notifications", notifications_path
        %li.divider Tables
      %li= link_to "Genres", genres_path
      %li= link_to "Directors", directors_path
      %li.divider Genres
      - genres.each do |g|
        %li= link_to g.name, fetch_movies_path(:genre_ids => g.id), remote: true
  %div.left-side
    %div.menu-icon
      %div#nav-icon
        %span
        %span
        %span
    
    = link_to root_path do
      %div.logo
    
  %div.right-side
    =link_to notifications_path, class:"fa fa-bell",id:"notif-bell", aria: {hidden: true} do
      -if notifications_number
        %span.notif-counter= notifications_number
    %div.cart
      %span.cart-text= render 'layouts/cart_text'