%div#navbar
  %div.menu
    %ul
      -if user_signed_in? 
        %li Hello #{current_user.email}
        %li.divider
        %li= link_to 'My Account', edit_user_registration_path
        %li= link_to "Sign out", destroy_user_session_path, :method => :delete
      -else 
        %li= link_to 'Sign in', new_user_session_path
        %li= link_to 'Sign up', new_user_registration_path
      %li.divider
      -if user_signed_in?
        %li= link_to "Subscribers", subscribers_path
        %li= link_to "Notifications", notifications_path
        %li.divider
      %li= link_to "Directors", directors_path
      %li= link_to "Genres", genres_path
  %div.left-side
    %div.menu-icon
      %div#nav-icon
        %span
        %span
        %span
    
    %div.logo
      %h1= link_to "My Store", root_path
    
  %div.right-side
    =link_to notifications_path, class:"fa fa-bell",id:"notif-bell", aria: {hidden: true} do
      %span.notif-counter= notifications_number
    %div.cart
      %h1.cart-text= render 'layouts/cart_text'