%div#navbar
  %div.left-side
    %div.menu-icon
      %div#nav-icon
        %span
        %span
        %span
    
    = link_to root_path do
      %div.logo
  
  -if user_signed_in?  
    %div.right-side
      =link_to notifications_path, class:"fa fa-bell",id:"notif-bell", aria: {hidden: true} do
        -if notifications_number
          %span.notif-counter= notifications_number
      %div.cart
        %span.cart-text= render 'layouts/cart_text'
      %div.search-form
        = search_form_for @search, url: search_movies_path, method: :post do |f|
          = f.search_field :title_cont
          = button_tag do
            %i.fa.fa-search